<a href="https://colab.research.google.com/github/Minjaero/-/blob/main/%EA%B9%80%EB%AF%BC%EC%9E%AC_205_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
fruits = ['apple', 'orange', 'banana']

for fruit in fruits:
  print(fruit)

apple
orange
banana

In [3]:
s = "Hello"
for i in s:
  print(i, end='')

Hello

In [7]:
colors = ["빨간색", "파란색", "노란색", "초록색"]
for color in colors:
    print("나는 %s을 좋아한다" %color)

나는 빨간색을 좋아한다
나는 파란색을 좋아한다
나는 노란색을 좋아한다
나는 초록색을 좋아한다

In [10]:
numbers = [7,9,15,18,30,-3,7,12,-16,-12]
sum = 0
for number in numbers:
  sum = sum + number
print("합계 :" , sum)

합계 : 67

In [21]:
score = [1,3,5,7,9,11,13]
cnt = 0
for num in score:
    if num<10 :
      cnt +=1 
      print(num , end ='  ')
print("\n10보다 작은 수의 개수:" , cnt)

1  3  5  7  9
10보다 작은 수의 개수: 5

In [19]:
questions = ['tr_in', 'b_s','_axi','air_lane']
answers = ['a', 'u' , 't' , 'p']
count = 0
for i in range(4):
    q = '%s에서 밑줄(_)안에 들어갈 알파벳은?' %questions[i]
    ans = input(q)
    if(ans==answers[i]) :
      print('정답입니다')
      count +=1
    else:
      print('틀렸습니다')
print("당신의 점수는 %d/4 입니다" %count)

tr_in에서 밑줄(_)안에 들어갈 알파벳은?a
정답입니다
b_s에서 밑줄(_)안에 들어갈 알파벳은?u
정답입니다
_axi에서 밑줄(_)안에 들어갈 알파벳은?s
틀렸습니다
air_lane에서 밑줄(_)안에 들어갈 알파벳은?s
틀렸습니다
당신의 점수는 2/4 입니다

In [32]:
score = []
for i in range(5) :
  score.append(int(input("성적 입력:")))
print(score)
sum = 0
for s in score :
  sum += s
print('총점은 %d이고 , 평균은 %.1f입니다.' %(sum, sum/5))

성적 입력:59
성적 입력:66
성적 입력:76
성적 입력:82
성적 입력:79
[59, 66, 76, 82, 79]
총점은 362이고 , 평균은 72.4입니다.

In [47]:
numbers = [7,9,15,18,30,-3,7,12,-16,-12]

sum = 0
print("짝수 번째 요소:", end='')

for i in range(1, 10):
  while i%2==1 or i%2==-1:
        print(numbers[i], end=' ')
        sum = sum+numbers[i]
        break;
print("합계" , sum)

짝수 번째 요소:9 18 -3 12 -12 합계 24

In [ ]:
s = [64,89,100,85,77,58,79,67,96,87,87,36,82,98,84,76,63,69,53,22]

soo = 0
woo = 0
mi = 0
yang = 0
ga = 0

i = 0
while i < len(s): #len(s) : s의 길이를 반환함 len([2,4,3]) ==> 3 
  if s[i] >= 90 : 
    soo +=1
  elif s[i] >=80:
    woo +=1
  elif s[i] >=70:
    mi+=1
  elif s[i] >=60:
    yang +=1
  else:
    ga +=1
  i += 1
print('수: %d명'%soo)
print('우: %d명' %woo)
print('미: %d명' %mi)
print('양: %d명' %yang)
print('가: %d명' %ga)

In [33]:
[2 * n for n in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [42]:
even1= [2 * n for n in range(1,51)]
even2= [n for n in range(1, 101)if n%2 ==0]
print(even1)
print(even2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [51]:
li = []
for n in range(1,10):
  if n % 3==0 :
    li.append(n*n)
print(li)

[9, 36, 81]

In [54]:
numbers = [1,2,3,4,5]
#result = [2 * n for n in range(1,6) if n%2 ==1]
result = [2 * n for n in numbers if n%2 ==1]
print(result)

[2, 6, 10]

In [ ]:
v = [17, 92, 18, 33, 58, 7, 33, 42]

max = v[0]

In [56]:
numbers = [ [10,20,30],  [40,50,60]]
print(numbers[0]) #[10,20,30]
print(numbers[1]) #[40,50,60]
print(numbers[0][0],numbers[0][1],numbers[0][2])
print(numbers[1][0],numbers[1][1],numbers[1][2])

[10, 20, 30]
[40, 50, 60]
10 20 30
40 50 60

In [57]:
numbers = [[10,20,30], [40,50,60,70,80]]
print(numbers[0][0],numbers[0][1],numbers[0][2])
print()
print(numbers[1][0],numbers[1][1],numbers[1][2],numbers[1][3],numbers[1][4])

10 20 30

40 50 60 70 80

In [58]:
for sub in numbers : #1번째 sub = [10, 20, 30] #2번째 sub = [40, 50, 60, 70, 80]
  for num in sub : #num = 10 -> 20 -> 30
    print(num, end=' ') #10 20 30 줄바꿈 40 50 ... 80
  print()

10 20 30
40 50 60 70 80

In [61]:
data = [[10, 20], [30,40], [50,60],[70,80]]
for i in range(4) : # 0 ~ 3 -> 4
  for j in range(2): # j= 0 ~ 1
   print("data[%d][%d] = [%d]" %(i,j,data[i][j]))

data[0][0] = [10]
data[0][1] = [20]
data[1][0] = [30]
data[1][1] = [40]
data[2][0] = [50]
data[2][1] = [60]
data[3][0] = [70]
data[3][1] = [80]

In [80]:
strings = [["원두커피","라떼", "콜라"], ["우동", "국수", "피자", "파스타"]]
for i in range(len(strings)):
  for j in range(len(strings[i])):
    print(strings[i][j] , end =" ")
  print()

원두커피 라떼 콜라
우동 국수 피자 파스타

In [83]:
data = [[10,20,30], [40,50] , [60,70,80,90]]
print(data)
for i in data:
  print(i[0])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

In [88]:
score = [[88,76,92,98],
         [65,70,58,82],
         [82,80,78,88],
         ]
total = 0
totalsub = 0

for student in score:
  for subject in student:
    print(subject)
  print()

88
76
92
98

65
70
58
82

82
80
78
88